header {
	background: #8ad5e2;
	padding: 20px 0;}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;}

nav {
	position: absolute;
	top: 110px;
	right: 0;}

nav li {
	display: inline;
	margin: 0 0 0 15px;}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.5);}

nav a:hover {
	color: #4a98a5;
	text-decoration: underline;}

body {

	font-family: 'Montserrat', sans-serif;}

hr {
  display: block;
  margin-top: 8em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;}

footer {
	text-align: center;
	background: url("bg.jpg");
	padding: 40px 0;}

.copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin-top: 20px;}


/*** Página de Produtos (produtos.html) ***/

.produtos-sect {
	width: 80%;
	margin: 50px auto;
	height: 650px;
	position: relative;}

.produtos {
	position: absolute;
	top: 50%;
	transform: translate(0,-50%);
	left: 5%;
	right: 5%;}

.produtos-title {
	height: 75px;
	line-height: 75px;}

.produtos-img {
	width: 250px;
	height: 250px;}

#produto-cabelo {background-image: url(cabelo.jpg);}
#produto-barba {background-image: url(barba.jpg);}
#produto-cabelobarba {background-image: url(cabelo+barba.jpg);}

.produtos h2, li, p, .produtos-content, .produtos-img, .produto-desc, #produto-cabelo, #produto-barba, #produto-cabelobarba {

	transition: 600ms, border 0s;}

.produtos li {
	display: inline-block;
	text-align: center;
	width: 30%;
	height: 420px;	
	vertical-align: middle;
	margin: 0 1.5%;
	padding: 0 20px 30px 20px ;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 15px;}

.produtos li:hover {

	border: 4px solid rgb(143, 185, 208);
	height: 480px;
	padding-top: 20px;
	background-color: #dedab5}

.produtos li:hover h2 {
	font-size: 2.5em;
	display: inline-block;
	vertical-align: middle;
	line-height: 1;}

.produtos li:hover .produtos-content {

	margin-top: 10px;}

#produto-cabelo-li:hover #produto-cabelo {
	background-image: url(cabelo2.jpg);
	transform: scale(1.08);}

#produto-barba-li:hover #produto-barba {
	background-image: url(barba2.jpg);
	transform: scale(1.08);}

#produto-cabelobarba-li:hover #produto-cabelobarba {
	background-image: url(cabelo+barba2.jpg);
	transform: scale(1.08);}

.produtos li:hover .produto-desc {

	margin-top: 10px;}

.produtos li:active {

	border-color: #088C19;}

.produtos h2 {
	font-size: 30px;
	font-weight: bold;
	text-shadow: 2px 2px 1px rgba(0,0,0,0.3);}

.produto-preco {
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px;}

.produto-desc {

	font-size: 18px;}


/*** Página de Contato (contato.html) ***/
.form-sect {
	width: 40%;
	margin: 40px auto 0 auto;}

.radio-div {

	display: inline-block;}

.label-padrao {
	display: block;
	font-size: 20px;
	margin: 10px 0;
	box-sizing: border-box; }

.input-padrao {
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 100%;
	box-sizing: border-box;}

.input-telefone {
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 30%;
	height: 38.75px;
	font-size: 1.1em;
	box-sizing: border-box;}

.input-email {
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 60%;
	box-sizing: border-box;}

.select-padrao {
	display: block;
	font-size: 16px;
	margin: 0 0 10px;
	border-radius: 6px;}

.checkbox {
	display: inline-block;
	font-size: 20px;
	margin: 10px 0;}

.submit-button {
	font-size: 20px;
	font-weight: bold;
	padding: 10px 0;
	margin: 15px 0 30px 0;
	width: 50%;
	background: orange;
	color: white;
	border: none;
	border-radius: 6px;
	transition: 0.8s all;
	cursor: pointer;}

.submit-button:hover {
	background: red;
	transform: scale(1.2) translate(8.5%, 9%);}

.table-tit {
	display: block;
	text-align: center;
	font-size: 18px;
	margin: 50px 0 20px 0;
	box-sizing: border-box;}

table {

	margin: 0 auto 60px auto;}

thead {
	background: #555555;
	color: white;
	font-weight: bold;}

td, th {
	border: 1px solid #000000;
	padding: 8px 15px;}


/*** Página Inicial (index.html) ***/

.banner {

	width: 100%;}

.section-main, .mapa, .beneficios {
	padding: 3em 0;
	margin: 0 auto;}

.section-main {
	background: #FCFCFC;
	width: 940px;}

.section-main p {
	margin: 0 0 1em;
	line-height: 1.3;}

.section-main strong {

	font-weight: bold;}

.section-main em {

	font-style: italic;}

.section-main-title {
	text-align: center;
	font-size: 2em;
	margin: 0 0 1em;
	clear: left;
	text-shadow: 3px 3px 2px rgba(0,0,0,0.5);}

.section-main-title:first-letter {
	font-size: 1.5em;
	font-weight: bold;}

.img-utensilios {
	width: 120px;
	float: left;
	margin: 0 1em 1em 0;}

.mapa {

	background: linear-gradient(#FCFCFC,#888888 40%);}

.mapa p {
	margin: 0 0 2em;
	text-align: center;}

.conteudo-mapa {
	width: 940px;
	margin: 0 auto;}

.beneficios {

	background: #888888;}

.conteudo-benef {
	width: 640px;
	margin: 0 auto;}

.lista-benef {
	width: 40%;
	display: inline-block;
	vertical-align: top;}

.itens {

	line-height: 1.2;}

.itens:before {
	font-weight: bold;
	font-size: 1.5em;
	content: "\2022";
	position: relative;
	left: -0.3em;}

.itens:nth-child(2n-1) {

	font-weight: bold;}

.img-benef {

	width: 60%;
	opacity: 0.5;
	box-shadow: 6px 6px 5px rgba(0,0,0,0.5);
	transition: 400ms; }

.img-benef:hover {

	opacity: 1;}

.video {
	width: 560px;
	margin: 2em auto;}


@media screen and (max-width: 480px) {

	.caixa, .section-main, .conteudo-mapa, .conteudo-benef, .produtos, .video {

		width: auto;}

	h1 {

		text-align: center;}

	nav {
		text-align: center;
		position: static;}

	nav a {

		font-size: 1.2em;}

	/*** Página Inicial (index.html) ***/ 
	.lista-benef, .img-benef {

		width: 100%;}

	.lista-benef {

		margin-bottom: 2em;}

	.itens {

		position: relative;
		left: 1em;}

	/*** Página de Contato (contato.html) ***/
	hr {

		margin-top: 4em;}

	.form-sect {

		width: 90%;}

	.submit-button {
		width: 80%;
		margin-top: 30px;}
	
	.input-telefone {
		
	width: 100%;}

	.input-email {
		
	width: 100%;}

	/*** Página de Produtos (produtos.html) ***/
	.produtos-sect	{

		height: 100%;}

	.produtos li {
		display: block;
		width: 100%;
		margin: 0 0;}

	.produtos {
		top: 0;
		left: 0;
		right: 0;
		position: relative;
		transform: translate(0,0);} 
	
}

@media screen and (max-width: 1280px) and (min-width: 481px) {
	.caixa, .section-main, .conteudo-mapa, .conteudo-benef, .produtos, .video {

		width: auto;}

	h1 {

		text-align: center;}

	nav {
		text-align: center;
		position: static;}

	nav a {

		font-size: 1.2em;}

	/*** Página de Contato (contato.html) ***/
	hr {

		margin-top: 4em;}

	.form-sect {

		width: 90%;}

	.submit-button {
		width: 80%;
		margin-top: 30px;}


	/*** Página de Produtos (produtos.html) ***/
	.produtos-sect	{

		height: 100%;}

	.produtos li {
		display: block;
		width: 72%;
		margin: 10px auto;}

	.produtos {
		top: 0;
		left: 0;
		right: 0;
		position: relative;
		transform: translate(0,0);} 
}


